<html>
<head>
    <title>Angular JS Includes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="conainer-fluid">
                <div class="row">
                        <h2>READ RULE APPLICATION</h2>
                        <div ng-app="" ng-controller="contentController">
                            <div class="col-md-3">
                                <table>
                                    <tr><th>Name</th></tr>
                                    <tr><td> <input type="text" name="" id="" ng-model="searchName"></td></tr>
                                    <tr ng-repeat="content in contents | filter: searchName">
                                        <td><a ng-click="load(content.File)" href="">{{ content.Name }}</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="contain" class="col-md-9">
                                 <div ng-bind-html="loadContent"></div>
                            </div>
                        </div>
                    </div>
                </div>      
    <script>
        function contentController($scope, $http,$sce) {
            //Render list to list
            $scope.loadContent="";
            var url = "./data/list.json";
            $http.get(url).then(function (response) {
                $scope.contents= response.data;
            });
            //Load select to content
            $scope.load=function(textname){
                var link= $scope.target = "./data/"+textname;
                $http.get(link).then(function (response) {
                $scope.contents = response.data;
                $scope.loadContent = $sce.trustAsHtml(response.data);
            });
            }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
    </script>

</body>

</html>