<!DOCTYPE html>
<div ng-app="mapapp" ng-controller="mapcontroller" class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div style="display: none">
        <input id="origin-input" class="controls form-control ctr" type="text" placeholder="Enter an origin location">
        <input id="destination-input" class="controls form-control ctr" type="text" placeholder="Enter a destination location">
        <input id="pac-input" class="controls form-control ctr" type="text" placeholder="Search Box">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div id="mode-selector" class="controls ctr">
        <input type="radio" name="type" id="changemode-walking" checked="checked">
        <label for="changemode-walking">Walking</label>
        <input type="radio" name="type" id="changemode-transit">
        <label for="changemode-transit">Transit</label>
        <input type="radio" name="type" id="changemode-driving">
        <label for="changemode-driving">Driving</label>
      </div>
      <div id="map" class="border border-primary shadow"></div>
    </div>
    <div class="col-lg-4 table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="bg-primary text-light">
            <th>Location</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <tr ng-repeat="event in events">
            <td>{{event.location}}</td>
            <td>{{event.status}}</td>
          </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  var mapapp = angular.module("mapapp", []);
  mapapp.controller("mapcontroller", function ($scope)
  {
    $cope.mainmap = "";
    $scope.mainmap = initMap(-34.397, 150.644, 16);
    $http.get("./asset/data/roadevent/event.json").success(function (data)
    {
      $scope.products = data;
    });
  });
</script>