<div ng-app="contentApp" ng-controller="contentController" class="container-fluid mb-4">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt1.txt')">
            Driving licences and categories of vehicles
          </a>
        </div>
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt2.txt')">
            The learner driver
          </a>
        </div>
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt3.txt')">
            The driving test
          </a>
        </div>
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt4.txt')">
            Rule for motorcyclist
          </a>
        </div>
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt5.txt')">
            Rules for cyclists
          </a>
        </div>
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt6.txt')">
            Rules for pedestrians
          </a>
        </div>
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt7.txt')">
            Respecting other road users
          </a>
        </div>
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt8.txt')">
            Other road users
          </a>
        </div>
        <div class="col-6 col-md-12 btn-rules p-2 my-2 shadow border border-dark rounded">
          <a ng-click="load('txt9.txt')">
            Regulatory traffic signs
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="border border-primary shadow rounded my-2">
        <div id="ruleContent" class="p-4" ng-bind-html="loadContent"></div>
      </div>
    </div>
  </div>
</div>

<script>
  var app = angular.module("contentApp", []);
  app.controller("contentController", function ($scope, $http, $sce)
  {
    $scope.percent = 0;
    $scope.loadContent = "";
    var url = "./asset/data/rule/list.json";
    $http.get(url).then(function (response)
    {
      console.log(response.data);
      $scope.contents = response.data;
    });
    //Load select to content
    $scope.load = function (textname)
    {

      var link = $scope.target = "./asset/data/rule/" + textname;
      $http.get(link).then(function (response)
      {
        $scope.contents = response.data;
        $scope.loadContent = $sce.trustAsHtml(response.data);
      });
    }
    $scope.up = function ()
    {
      $scope.percent = $scope.percent + 11.11;
      var html = '<div class="progress"><div class="progress-bar" role="progressbar" value="' + $scope.percent + '%" style="width:' + $scope.percent + '%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
    }
  });
</script>